<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Addresses:</b>
  <ul>
  <% @contact.addresses.each do |address| %>
  	<li><%= address.address %></li>
  <%end %>
  </ul>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
